@model EFMVC.Models.ProductoView
@{
    ViewBag.Title = "Ver";
}

<div class="titulo">
    <h1 class="text-uppercase text-center my-md-5">Detalle del producto</h1>
</div>



<hr />
<div class="contenido">
    @using (Html.BeginForm("Ver", "Producto"))
    {

        <div class="form-group">
            <label>Nombre</label>

            @(Html.TextBoxFor(p => p.Nombre, new { @class= "form-control", placeholder= "Nombre del producto", @readonly = "readonly"  }))

        </div>

        <div class="form-group">
            <label>Presentación</label>
            @(Html.TextBoxFor(p =>p.CantidadPorUnidad, new { @class = "form-control", placeholder = "Presentación del producto", @readonly = "readonly" }))

        </div>

        <div class="form-group">
            <label>Precio unitario</label>

            @(Html.TextBoxFor(p =>p.PrecioUnitario, new { @class = "form-control", placeholder = "Precio del producto" , @readonly = "readonly"  }))

        </div>

        <br /><br />
        @Html.ActionLink("Volver", "Index", "Producto",new { @class = "btn btn-primary" }) 


    }

</div>
