<div class="form-container">
	<div class="titlePcto">
		<h1>Vista del producto</h1>
	</div>

	<form [formGroup]="verProductoForm">
		<div class="row justify-content-center inputPcto">
			<label>Id</label>
			<input type="number" formControlName="id" class="form-control" readonly />

			<label>Nombre</label>
			<input type="text" formControlName="nombre" class="form-control" readonly />

			<label>Presentación</label>
			<input type="text" formControlName="presentacion" class="form-control" readonly />

			<label>Precio</label>
			<input type="number" formControlName="precio" class="form-control" readonly />
		</div>
	</form>
</div>