<div class="container">
	<form (ngSubmit)="onSubmit()" [formGroup]="verProductoForm">

		<h3>Vista de productos</h3>
		
        <label>ID</label>
		<input type="number" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid':  form.id.errors }" />
		<div *ngIf="form.id.errors" class="invalid-feedback">
			<div *ngIf="form.id.errors.required">El id es obligatorio</div>
		</div>
        
        
        <label>Nombre</label>
		<input type="text" formControlName="nombre" class="form-control" readonly />
		<label>Presentación</label>
		<input type="text" formControlName="presentacion" class="form-control" readonly />
		

		<label>Precio</label>
		<input type="number" formControlName="precio" class="form-control" readonly />
		
		
        <div class="text-center">
			<button class="btn btn-primary mr-1" [disabled]="verProductoForm.invalid">Buscar</button>
		</div>
	</form>
</div>