.contenedor {
    min-height: 120vh;
    position: relative;
}

footer {
    background-color: red;
    color: white;
    padding: 0;
}

::ng-deep .snackbarStyleError{
    background-color:yellow;
    color:white;
  }