<div class="contenedor">


  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container mt-3">
      <a href="#" class="navbar-brand"> <i class="fas fa-home"></i> Productos</a>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>


<footer class="text-center text-white fixed-bottom">
  <div class="text-center p-3" style="background-color: #212529;">
    © 2020 Copyright:
    <a class="text-white" href="#">JuanPabloPonce</a>
  </div>
</footer>